@charset "EUC-KR";
	/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #05c46b;
			font-family: Verdana;
			text-align: center;
			width:100%;
		}
	
		button {
			margin: 7px;
			float: right;
			color: black;
			text-align: center;
			padding: 7px 7px;
			 font-size: 16px;
		}
		
		#div_menu {
			background-color: #05c46b;
			max-width: 500px;
			height: 30px;
			margin-left:auto;
 			margin-right:auto;
		}
		
		form {
			background-color: #fff;
			width:85%;
			max-width: 500px;
			margin: auto;
			margin-top: 50px;
			  padding-top: 15px;
			  padding-right: 15px;
			  padding-bottom: 15px;
			  padding-left: 15px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
			text-align: left;
			border-radius: 25px;
		}
		
		fieldset{
			border-radius: 25px;
		}

		input{
		/* margin: 5px; */
			margin-top: 8px;
		
		    margin-right: 5px;
		
		    margin-bottom: 8px;
		
		    margin-left: 5px;
		}
	
		    #iframe_doughnut{
      		 width: 100%;
        	 height: 320px;
            border: 0px;
/*             background-color:Tomato; */
        }
        
        #icon_check_1{
        	color:	#ff0000;
        }

        
        #icon_check_2{
        	color: #ff8000;
        }
        
        
        #icon_check_3{
        	color: #00ffff;
        }
        
         #icon_check_4{
        	color: #0000ff;
        }
        
         #icon_check_5{
        	color: #ff0080;
        }
        
         #icon_check_6{
        	color: #ffff00;
        }
         #icon_check_7{
        	color: #ffff00;
        }