@charset "EUC-KR";
	/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #05c46b;
			font-family: Verdana;
			text-align: center;
		}

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #fff;
/* 			width: 50%; */
/* 			min-width: 300px; */
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
			text-align: left;
		}

		input{
		/* margin: 5px; */
			margin-top: 8px;
		
		    margin-right: 5px;
		
		    margin-bottom: 8px;
		
		    margin-left: 5px;
		}
	
